<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="{{ "/reveal/css/reveal.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/reveal/css/theme/simple.css" | prepend: site.baseurl }}">

	<link rel="stylesheet" href="{{ "/reveal/css/pres.css" | prepend: site.baseurl }}">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="{{ "/reveal/lib/css/zenburn.css" | prepend: site.baseurl }}">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? "{{ "/reveal/css/print/pdf.css" | prepend: site.baseurl }}" : "{{ "/reveal/css/print/paper.css" | prepend: site.baseurl }}";
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>
